<a href='/games'><input type="button" value="Go Back to all games"></a>
{{#if game.notMember}}
    <a href="/games/players/add/{{game._id}}?users={{currentUser.username}}">
        <input type="button" value="Join Game">
    </a>
{{/if}}

<h1>{{game.name}}</h1>

{{#if game.admin}}
    <input id="addBtn" type="button" value="Add Players" onclick="showForm('addBtn', 'addForm')">

    <div id="addForm" style="display:none">
        <form action="/games/players/add/{{game._id}}">
            <fieldset id="usersField">
            </fieldset>
            <input type="submit" value="Add Players">
        </form>
        <br>

        <label>Players</label>

        <div class="dropdown">
            <input type="text" placeholder="Search.." id="userInput" onkeyup="filterFunction(), showMembersInput()" autocomplete="off">
            <input type="button" value="Add" onclick="addMember()">
            <div id="myDropdown" class="dropdown-content">
                {{#each users}}
                <a href="#{{this.username}}">{{this.username}}</a>
                {{/each}}
            </div>
        </div>
    </div>
    <a href="/games/edit/{{game._id}}"><input type="button" value="Edit"></a>
{{/if}}


<ul><h3>Players</h3>
    {{#each game.players}}
        <li>{{this.username}}
            {{#if ../game.admin}}
                <a href="/games/players/delete/{{../game._id}}/{{this._id}}">
                    <input type="button" value="Delete">
                </a>
            {{/if}}
        </li>
    {{/each}}    
</ul>

{{#if game.player}}
    {{#each game.equipment}}
        {{this}}
    {{/each}}
{{/if}}
